@using Simple_shop.Infrastructure
@model IEnumerable<Simple_shop.Models.Kategoria>


    <nav class="KategorieVertical">
        <ul>
            
            @foreach (var kategorie in Model)
            {
                <li>
                    <a href="@Url.Action("Lista","Kursy", new {nazwaKategori = kategorie.NazwaKategorii.ToString()})"
                       style="background-image: url(@Url.ikonyKategoriiSciezka(kategorie.NazwaPlikuIkony));">
                        @kategorie.NazwaKategorii
                    </a>
                </li>
            }
        </ul>
    </nav>

